﻿@{
    ViewBag.Title = "About Product Search";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website was build as an exercise.<br/>
    You are more than invited to use <a href="https://www.shopyourway.com/">ShopYourWay</a> and buy the products you see here.
</p>


