﻿@{
    ViewBag.Title = "Contact the creators";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rotem Shaanan<br />
    Sears Israel<br />
    Herzliya
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rotem@sears.co.il</a>
</address>