﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Search Engine</h1>
    <p class="lead">Search for any product you would like:</p>

    <div class="row">
        <div class="input-group col-lg-4">
            <input type="text" class="form-control" placeholder="Search for a product...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>

</div>

@*<div class="row">*@
@*    <div class="col-md-4">*@
@*        <h2>Getting started</h2>*@
@*        <p>*@
@*            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that*@
@*            enables a clean separation of concerns and gives you full control over markup*@
@*            for enjoyable, agile development.*@
@*        </p>*@
@*        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
@*    </div>*@
@*    <div class="col-md-4">*@
@*        <h2>Get more libraries</h2>*@
@*        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
@*        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
@*    </div>*@
@*    <div class="col-md-4">*@
@*        <h2>Web Hosting</h2>*@
@*        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>*@
@*        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
@*    </div>*@
@*</div>*@